{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "requirePragma": false,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "endOfLine": "lf",
  "tailwindStylesheet": "./app/globals.css",
  "tailwindFunctions": ["cn", "cva"],
  "plugins": ["prettier-plugin-tailwindcss"]
}